<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-webmidi" version="1.0.0">
    <name>WebMIDI</name>
    <description>Web MIDI API for Cordova on iOS</description>
    <license>Apache-2.0</license>
    <keywords>webmidi,midi,api,web</keywords>
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="apple-ios" version=">=8.0" />
    </engines>
    <js-module src="www/webmidi.js" name="webmidi">
        <clobbers target="WebMidi" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WebMIDI">
                <param name="ios-package" value="WebMIDI"/>
            </feature>
        </config-file>
        <source-file src="src/ios/WebMIDIAPIPolyfill/WebMIDI.h" />
        <source-file src="src/ios/WebMIDIAPIPolyfill/WebMIDI.m" />

        <source-file src="src/ios/WebMIDIAPIPolyfill/MIDIDriver.h" />
        <source-file src="src/ios/WebMIDIAPIPolyfill/MIDIDriver.m" />

        <source-file src="src/ios/WebMIDIAPIPolyfill/MIDIParser.h" />
        <source-file src="src/ios/WebMIDIAPIPolyfill/MIDIParser.m" />

        <framework src="CoreMIDI.framework" />
    </platform>
</plugin>
